.singlePost {
  background: white;
  padding: 100px 25px;
  min-height: 80vh;
  opacity: 0.93;
  .articleDate {
    margin: 0 auto;
    max-width: 660px;
    font-style: italic;
    padding-bottom: 25px;
  }
}