@import '../../_sass/_breakpoints';

@keyframes navHover {
  0%   { background: transparent; }
  100% { background: whitesmoke; }
}

.navContainer {
  width: 100vw;
  height: 100%;
  background: white;
  z-index: 999999;
  display: block;
  position: fixed;
  .navBg {
    background: url('../../assets/img/juha_stenroos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
  }
    ul {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 1;
      z-index: 999999999;
      padding-top: 4rem;
      list-style: none;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      color: #000;
      text-transform: uppercase;
      font-size: 1.5rem;
      margin-left: 0;
      background: transparent;
      li {
        background: transparent;
        a {
          display: block;
          padding: .5rem 2rem;
          background: transparent;
          &:hover {
            animation: navHover;
            animation-duration: .6s;
            background: whitesmoke;
            opacity: 0.7;
          }
        }
        .current {
          background: whitesmoke;
          opacity: 0.7;
        }
      }
    }
  
  @media screen and (min-width: 900px) {
    width: 25vw;
  }
}